In [2]:
import numpy as np # importing relevant libraries required for this project
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## Preparations of Data

In [6]:
def prepare_data(df,forecast_col, forecast_out, test_size):
  label = df[forecast_col].shift(-forecast_out) # new column label created
  X = np.array(df[[forecast_col]]) #feature array created
  X = preprocessing.scale(X) #processing of feature array
  X_lately = X[-forecast_out:] #column to be used later for prediction created
  X = X[:-forecast_out] # X that will hold both training and testing set
  label.dropna(inplace=True) #dropping the na values
  y=np.array(label) #assigning Y
  X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = test_size, random_state=0) # cross validation

  response = [X_train,X_test, Y_train, Y_test, X_lately]
  return response

## Importing and reading the datasets

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/adoleaa/Stockprice-prediction/main/price.csv")

In [18]:
df.head()

         Date       Open       High        Low      Close  Adj Close  Volume
0  2020-01-27  71.320000  71.635002  71.320000  71.324997  71.324997       0
1  2020-01-28  71.654999  71.654999  71.178001  71.440002  71.440002       0
2  2020-01-29  71.230103  71.425003  71.168503  71.230400  71.230400       0
3  2020-01-30  71.300003  71.711998  71.300003  71.300003  71.300003       0
4  2020-01-31  71.639999  71.639999  71.277496  71.639999  71.639999       0

In [28]:
df.tail()

           Date       Open       High        Low      Close  Adj Close  Volume
257  2021-01-20  73.192001  73.192299  72.899300  73.191902  73.191902       0
258  2021-01-21  72.907898  73.045303  72.883003  72.910896  72.910896       0
259  2021-01-22  72.954903  73.237503  72.929001  72.954903  72.954903       0
260  2021-01-25  72.995903  73.220001  72.877998  72.995903  72.995903       0
261  2021-01-26  72.970001  73.222000  72.774498  72.970001  72.970001       0

In [19]:
forecast_col = "Close"

In [10]:
forecast_out = 5

In [11]:
test_size = 0.2

In [20]:
X_train, X_test, Y_train, Y_test, X_lately = prepare_data(df, forecast_col, forecast_out, test_size)
learner = LinearRegression() #initializing linear regression model

In [21]:
learner.fit(X_train, Y_train) #training the linear regression model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
score=learner.score(X_test, Y_test) #testing the linear regression model

In [23]:
forecast=learner.predict(X_lately) #set that will hold the forecasted data

In [24]:
response={} # json object created

In [25]:
response["test_score"]=score

In [26]:
response['forecast_set']=forecast

In [27]:
print(response)

{'test_score': 0.639145178346672, 'forecast_set': array([73.37040254, 73.12634778, 73.16456803, 73.20017668, 73.1776807 ])}